# acknowledgment: https://codepen.io/ayushn21/pen/zYZqWgw

#hamburger-menu-checkbox ~ label {
  cursor: pointer;
  padding: 8px;
}

#hamburger-menu-checkbox {
  display: none;
}

#hamburger-menu-checkbox ~ label span {
  transition-duration: 0s;
  transition-delay: 0.2s;
  display: inline-block;
  width: 32px;
  height: 4px;
  background-color: darkorange;
  border-radius: 3px;
}

#hamburger-menu-checkbox ~ label span::after,
#hamburger-menu-checkbox ~ label span::before {
  transition-delay: 0.2s, 0s;
  transition-duration: 0.2s;
  transition-property: margin, transform;
  content: '';
  position: absolute;
  width: 32px;
  height: 4px;
  background-color: darkorange;
  border-radius: 3px;
}

#hamburger-menu-checkbox ~ label span::after {
  margin-top: 8px;
}

#hamburger-menu-checkbox ~ label span::before {
  margin-top: -8px;
}


#hamburger-menu-checkbox:checked ~ label span {
  background-color: transparent;
}

#hamburger-menu-checkbox:checked ~ label span:before,
#hamburger-menu-checkbox:checked ~ label span:after {
  transition-delay: 0s, 0.2s;
  margin-top: 0;
}

#hamburger-menu-checkbox:checked ~ label span:before {
  transform: rotate(45deg);
}

#hamburger-menu-checkbox:checked ~ label span:after {
  transform: rotate(-45deg);
}
