{% extends "base.html" %}
{% block content %}
<div class="menu-buttons">
    <button type=button class="btn-menu selected"
            onClick="navigateTo('http://{{request.host}}{{url_for('clips',period='daily')}}')">clips, daily
    </button>
    <button type=button class="btn-menu"
            onClick="navigateTo('http://{{request.host}}{{url_for('clips',period='weekly')}}')">clips, weekly
    </button>
    <button type=button class="btn-menu"
            onClick="navigateTo('http://{{request.host}}{{url_for('clips',period='monthly')}}')">clips, monthly
    </button>
</div>{% endblock content %}