{% extends "base.html" %}
{% block content %}
<div class="menu-buttons">
    <button type=button
            onClick="navigateTo('http://{{request.host}}{{url_for('tiles')}}');">tiles
    </button>
    <button type=button
            onClick="navigateTo('http://{{request.host}}{{url_for('clips',period='daily')}}')">clips, daily
    </button>
    <button type=button
            onClick="navigateTo('http://{{request.host}}{{url_for('clips',period='weekly')}}')">clips, weekly
    </button>
    <button type=button
            onClick="navigateTo('http://{{request.host}}{{url_for('clips',period='monthly')}}')">clips, monthly
    </button>
    <button type=button
            onClick="navigateTo('http://{{request.host}}{{url_for('states')}}')">states
    </button>
    <button type=button
            onClick="navigateTo('http://{{request.host}}{{url_for('logs')}}')">logs
    </button>
</div>
{% endblock content %}